.profile{
    width: 300px;
    margin-left: auto;
    padding: 15px 0 0 0;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}